body {
    margin: 0;
    overflow: hidden;
    background: black;
}

#menu {
    position: fixed;
    top: 35%;
    width: 100%;
    text-align: center;
}

#logo {
    width: 220px;
    margin-bottom: 25px;
}

#startBtn {
    font-size: 26px;
    padding: 15px 40px;
    background: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#startBtn:hover {
    background: #990000;
}

#jumpscare {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    pointer-events: none;
    transition: 0.15s;
}
